@font-face {
    font-family: "Chiron-GoRound";
    src: url(../fonts/Chiron_GoRound_TC/ChironGoRoundTC-VariableFont_wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 116px;
    border-bottom: 1px solid #bbb;
    border-radius: 8px;
    box-shadow: 0 6px 6px #bbb;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.logo {
    color: #00bfff;
    font-family: "Chiron-GoRound";
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.calc {
    display: grid;
    grid-template-rows: repeat(34, 50px);
    grid-template-columns: repeat(9, auto);
    height: auto;
    width: auto;
    margin: 100px 300px;
}

.container {
    border: 1px solid #bbb;
    border-radius: 25px;
    box-shadow: -8px 12px 12px #bbb;
}

.distance {
    grid-row: 1 / 9;
    grid-column: 1 / 5;
}

.weight {
    grid-row: 1 / 9;
    grid-column: 6 / 10;
}

.currency {
    grid-row: 10 / 18;
    grid-column: 1 / -1;
}

.budget-list {
    grid-row: 19 / 35;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-container {
    background-color: #eeeeeebb;
    border-bottom: 1px solid #bbb;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    height: 100px;
    justify-content: space-between;
}

.container-title {
    color: #333333cc;
    font-family: "Chiron-GoRound";
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.currency-buttons {
    display: flex;
    gap: 20px;
}

.sub-container button {
    height: 36px;
    width: auto;
    padding: 7px 5px;
    border: 1px solid #bbb;
    border-radius: 10px;
    background-color: #ddddddbb;
    font-family: "Chiron-GoRound";
    color: #333333cc;
    font-size: 14px;
    font-weight: 450;
    transition: all 0.5s ease;
    cursor: pointer;
}

.sub-container button:hover {
    background-color: #c7c7c7bb;
}

.sub-container button:active {
    background-color: #bbbbbbbb;
    transition: none;
}

.add-article {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% !important;
    height: auto !important;
    padding: 3px !important;
}

.add-article img {
    opacity: 0.4;
    width: 36px;
    height: 36px;
}

.budget-list-footer {
    height: 150px;
    padding: 5px 20px;
    border-top: 1px solid #bbb;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.budget-list-result {
    font-family: "Chiron-GoRound";
    font-size: 36px;
    color: #333333cc;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.budget-list-footer button {
    height: 56px;
    width: auto;
    padding: 15px 10px;
    border: 1px solid #bbb;
    border-radius: 20px;
    background-color: #ddddddbb;
    font-family: "Chiron-GoRound";
    color: #333333cc;
    font-size: 18px;
    font-weight: 380;
    letter-spacing: -0.01em;
    cursor: pointer;
    transition: all 0.5s ease;
}

.budget-list-footer button:hover {
    background-color: #c7c7c7bb;
}

.budget-list-footer button:active {
    background-color: #bbbbbbbb;
    transition: none;
}

.add-article-form {
    display: none;
}
